
@import url("./component/ergonomics.css");
@import url("./component/yamaguchi.css");

@font-face {
  font-family: 'Bebas Neue';
  src: url("./fonts/ofont.ru_Bebas Neue.ttf");
}
@font-face {
  font-family: 'Ubuntu';
  src: url("./fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url("./fonts/Montserrat-ExtraBold.ttf");
}


.container {
  margin:0 auto;
  padding: 10px;
  min-width: 300px;
  background-color: #F3F3F3;
}
.container-yamaguchi {
  margin: 0 auto;
  background-color: #181818;
  min-width: 300px;
  padding: 10px;
}

@media (min-width: 800px) {
  .container {
    max-width: 1920px;
    padding-top: 50px;
  }
  .container-yamaguchi {
    background-color: #181818;
    background-image: url("../img/VectorPoint.svg");
    max-width: 1920px;
    padding: 3% 5%;
  }
}